www.{$CADDY_DOMAIN_NAME} {
  browse

  tls {$CADDY_LETS_ENCRYPT_EMAIL} {
    ca {$CADDY_LETS_ENCRYPT_CA_URL}
  }
}

registry.{$CADDY_DOMAIN_NAME} {
  proxy /v2 {$CADDY_REGISTRY_HOST}:{$CADDY_REGISTRY_PORT} {
    header_upstream Docker-Distribution-Api-Version "registry/2.0"
    transparent
  }

  tls {$CADDY_LETS_ENCRYPT_EMAIL} {
    ca {$CADDY_LETS_ENCRYPT_CA_URL}
  }
}
